table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  font-size: 1.2em;
}

.just-placed {
  background-color: #4ca9ff;
}

.just-flipped {
  background-color: #b3daff;
}

.valid-move {
  background-color: #ff4c4c;
}

.would-be-flipped {
  background-color: #ffb3b3;
}

td {
  width: 40px;
  height: 40px;
}
