table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-size: 1.2em;
}

.valid-human-move {
  background-color: #ff4c4c;
}

.valid-bot-move {
  background-color: #4ca9ff;
}

td {
  width: 40px;
  height: 40px;
}
