body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  font-size: 1.2em;
  padding: 0;
}

td {
  width: 40px;
  height: 40px;
}

.square-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.square-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.square-front,
.square-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.square-back {
  transform: rotateY(180deg);
}

@keyframes goToFront {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes goToBack {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

.just-flipped .square-front {
  animation: goToFront 0.3s;
}

.just-flipped .square-back {
  animation: goToBack 0.3s;
}

.just-flipped {
  background-color: #b3daff;
}

.just-placed {
  background-color: #4ca9ff;
}

.valid-move {
  background-color: #ff4c4c;
}

.would-be-flipped .square-back {
  animation: goToFront 0.3s;
  animation-fill-mode: forwards;
}

.would-be-flipped .square-front {
  animation: goToBack 0.3s;
  animation-fill-mode: forwards;
}

.would-be-flipped {
  background-color: #ffb3b3;
}

.no-longer-would-be-flipped .square-back {
  animation: goToBack 0.3s;
  animation-fill-mode: forwards;
}

.no-longer-would-be-flipped .square-front {
  animation: goToFront 0.3s;
  animation-fill-mode: forwards;
}
